body {
    background-image: url(https://c.tenor.com/QfaauxiGv64AAAAd/dbz-dragon-ball-z.gif);
}
.Color {
    color: cyan;
}
#Facheros {
    color: darkturquoise;
    font-size: 20px;
    font-family: fantasy;
}
.Ciber {
    color: black;
    font-size: 24px;
    font-family: Helvetica;
    margin: center;
}